<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Admin</li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h1 class="m-0">Change Password</h1>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Actions</h3>
                                </div>
                                <div class="card-body">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">Save<i
                                                class="fas fa-save"></i></button>
                                    </div>
                                    <!-- <div class="btn-group">
                                        <button type="button" class="btn btn-danger">Clear <i
                                                class="fas fa-times ml-1"></i></button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="currentPassword">Username</label>
                                        <input type="text" class="form-control" id="currentPassword" placeholder="Enter Username"
                                            formControlName="currentUserName">
                                        <div
                                            *ngIf="passwordForm.get('currentUserName')?.invalid && passwordForm.get('currentUserName')?.touched">
                                            <div *ngIf="passwordForm.get('currentUserName')?.errors?.['required']"
                                                class="text-danger">Username is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="currentPassword">Current Password</label>
                                        <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" placeholder="Enter Current Password" >
                                        <div *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
                                          <div *ngIf="passwordForm.get('currentPassword')?.errors?.['required']" class="text-danger">Current Password is required</div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="newPassword">New Password</label>
                                        <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter new password" >
                                        <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
                                          <div *ngIf="passwordForm.get('newPassword')?.errors?.['required']" class="text-danger">New Password is required</div>
                                          <div *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']" class="text-danger">Password must be at least 6 characters long</div>
                                        </div>
                                      </div>
                                </div>
                            </div>      
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm New Password</label>
                                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                                        <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">
                                          <div *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched" class="text-danger">Passwords do not match</div>
                                          <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']" class="text-danger">Confirm New Password is required</div>
                                        </div>
                                      </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>